Passage:
{{ context }}

Inquiry: {{ question_text }}

Choose the best response from the list:
{% for choice_text in choices_list %}
  * {{ (65 + loop.index0) | chr }}: {{ choice_text }}
{% endfor %}

Chosen response (Letter):