Consider the following following choices:
{% for choice_text in choices_list %}
{{ choice_text }}
{% endfor %}

These options pertain to the question: {{ question }}
Which Option is correct?, Your final answer should be in the format of Answer: [Letter]. [Text of the answer] (e.g Answer: A. The sun).

Your answer is: 