The following are questions related to stem subjects.
Based on this question: {{ question }}

And the following choices:
{% for choice_text in choices_list %}
    {{ choice_text }}
{% endfor %}
You need to give your solution in the format of "Letter. Answer" (e.g. D. Water is more dense than Oil)

Solution: