The following are questions related to stem subjects.
Based on this question: {{ question }}

And the following choices:
{% for choice_text in choices_list %}
    {{ choice_text }}
{% endfor %}
You need to give your solution in the end in the format of "Final Answer: Letter" (e.g Final Answer: D)

Solution: