The following are multiple choice questions (with answers) about knowledge and skills in advanced master-level STEM courses.

{{ question }}

Please select from the following:
{% for choice_text in choices_list %}
 {{ choice_text }}
{% endfor %}

Answer: 